# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Results
results/
cluster_outputs/outputs
# Logs
*.log

